<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" bootstrap="src/autoload.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnEmptyTestSuite="false" failOnRisky="true" failOnWarning="true" colors="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">test/unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="memory_limit" value="1024M"/>
  </php>
  <coverage/>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/autoload.php</file>
    </exclude>
  </source>
</phpunit>
